body{
    font-family: "Helvetica Neue", sans-serif;
    display : flex;
    flex-direction: column;
    align-items: center;
}

#cafemain {
    position: absolute;
    top : 25%;
    height : 400px;
    width : 300px;
    background-color: gray;
    padding : 20px;
}
