/* Common */
/*
img,fieldset {border: 0;}
em,address {font-style: normal;}
a,a:active,a:focus,a:hover {text-decoration: none;}
input,select,button {vertical-align: middle;}
img {vertical-align: top;}
label,button {cursor: pointer;}*/

/* common */
body,header,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,ul,ol,li {margin: 0; padding: 0;}
html {
 width : 100%;
 height: 100%;
 font-size : 30px;
}
body {
  margin : 0px auto;
  width : 1200px;
  height: 100%;
  background: #8999A8;;
  font-family: "Calibri", "Roboto", sans-serif;
  *word-break:break-all; -ms-word-break:break-all
}
ul,ol {
  list-style-type: none;
}
caption {
  display: none;
  line-height: 0;
}
.padLR20 {
  padding:0 20px;
}
.delete {
  margin-left:5px;
}

/* header */
header {
 height : 180px;
 width : 1200px;
 margin : 0;
 padding : 0;
 text-align: center;
}
header div {
 position : relative;
 top : 77px;
 right : 11%;
}

/* layout */
#mainbody {
  width : 1200px;
}
#aside1 {
  width : 185px;
  float : left;
  padding : 0;
}
#aside2 {
  position: relative;
  width : 250px;
  height: 500px;
  float : right;
}
#section1 {
  position: relative;
  padding : 0;
  margin: 0 5px;
  width : 755px;
  float: left;
}
#subsection1 {
  width:525px;
  padding : 0;
  margin: 0;
  float: left;
}
#subsection2 {
  width: 225px;
  margin-left: 5px;
  float: left;
}
#article4 {
  height: 300px;
  border: 1px solid #000;
  margin: 5px 0;
}

#article5 {
  border: 0px solid #000;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 30px;
}

.weather_header {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background: #db9dbe;
  border-bottom: 3px solid #3f1259;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.weather_box {
  padding: 15px;
  text-align: center;
}

/* 상단 nav */
.navbar, .dropdown-menu{
background:rgba(255,255,255,0.25);
border: none;
}
.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}
.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}
.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

/* aisde mail box */
.mail-box {
            border-collapse: collapse;
            border-spacing: 0;
            display: table;
            table-layout: fixed;
            width: 185px;
        }
.mail-box aside {
            display: table-cell;
            float: none;
            height: 100%;
            padding: 0;
            vertical-align: top;
        }
.mail-box .sm-side {
            background: none repeat scroll 0 0 #e5e8ef;
            border-radius: 4px 0 0 4px;
            width: 25%;
        }
.mail-box .lg-side {
            background: none repeat scroll 0 0 #fff;
            border-radius: 0 4px 4px 0;
            width: 75%;
        }
.mail-box .sm-side .user-head {
            background: none repeat scroll 0 0 #d5d7de;
            border-radius: 4px 0 0;
            color: #fff;
            min-height: 80px;
            padding: 10px;
        }
.user-head .inbox-avatar {
            float: left;
            width: 65px;
        }
.user-head .inbox-avatar img {
            border-radius: 4px;
        }
.user-head .user-name {
            display: inline-block;
            margin: 0 0 0 10px;
        }
.user-head .user-name h5 {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 0;
            margin-top: 15px;
        }
.user-head .user-name h5 a {
            color: #fff;
        }
.user-head .user-name span a {
            color: #00a8b3;
            font-size: 12px;
        }
a.mail-dropdown {
            background: none repeat scroll 0 0 #80d3d9;
            border-radius: 2px;
            color: #01a7b3;
            font-size: 10px;
            margin-top: 20px;
            padding: 3px 5px;
        }
.inbox-body {
            padding: 20px;
        }
.btn-compose {
            background: none repeat scroll 0 0 #ff6c60;
            color: #fff;
            padding: 12px 0;
            text-align: center;
            width: 100%;
        }
.btn-compose:hover {
            background: none repeat scroll 0 0 #f5675c;
            color: #fff;
        }

/* 게시판 */
ul.inbox-nav {
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 100%;
        }
.inbox-divider {
            border-bottom: 1px solid #d5d8df;
        }
ul.inbox-nav li {
            display: inline-block;
            line-height: 45px;
            width: 100%;
        }
ul.inbox-nav li a {
            color: #6a6a6a;
            display: inline-block;
            line-height: 45px;
            padding: 0 20px;
            width: 100%;
        }
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
            background: none repeat scroll 0 0 #d5d7de;
            color: #6a6a6a;
        }
ul.inbox-nav li a i {
            color: #6a6a6a;
            font-size: 16px;
            padding-right: 10px;
        }
ul.inbox-nav li a span.label {
            margin-top: 13px;
        }
ul.labels-info li h4 {
            color: #5c5c5e;
            font-size: 13px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            text-transform: uppercase;
        }
ul.labels-info li {
            margin: 0;
        }
ul.labels-info li a {
            border-radius: 0;
            color: #6a6a6a;
        }
ul.labels-info li a:hover, ul.labels-info li a:focus {
            background: none repeat scroll 0 0 #d5d7de;
            color: #6a6a6a;
        }
ul.labels-info li a i {
            padding-right: 10px;
        }
.nav.nav-pills.nav-stacked.labels-info p {
            color: #9d9f9e;
            font-size: 11px;
            margin-bottom: 0;
            padding: 0 22px;
        }
.inbox-head {
            background: none repeat scroll 0 0 #41cac0;
            border-radius: 0 4px 0 0;
            color: #fff;
            min-height: 80px;
            padding: 20px;
        }
.inbox-head h3 {
            display: inline-block;
            font-weight: 300;
            margin: 0;
            padding-top: 6px;
            width:415px;
        }
.inbox-head span {
  font-size: 19px;
}
.inbox-head span a {
  color: #fff;
}
.inbox-head span a:hover {
  color: #fff;
  text-decoration: underline;
}
 .inbox-head .sr-input {
            border: medium none;
            border-radius: 4px 0 0 4px;
            box-shadow: none;
            color: #8a8a8a;
            float: left;
            height: 40px;
            padding: 0 10px;
        }
.inbox-head .sr-btn {
            background: none repeat scroll 0 0 #00a6b2;
            border: medium none;
            border-radius: 0 4px 4px 0;
            color: #fff;
            height: 40px;
            padding: 0 20px;
        }
.table-inbox {
            border: 1px solid #d3d3d3;
            margin-bottom: 0;
        }
.table-inbox th {
  background: #eee;
  border-bottom: none !important;
  text-align: center;
}
.table-inbox tr {
            background: #fff;
        }
.table-inbox tr td {
            padding: 6px 12px !important;
            vertical-align: middle !important;
        }
.table-inbox tr td:hover {
            cursor: pointer;
        }
 .table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
            color: #f78a09;
        }
.table-inbox tr td .fa-star {
            color: #d5d5d5;
        }
.table-inbox tr.unread td {
            background: none repeat scroll 0 0 #f7f7f7;
            font-weight: 600;
        }
ul.inbox-pagination {
            float: right;
        }
ul.inbox-pagination li {
            float: left;
        }
.mail-option {
            display: inline-block;
            margin-bottom: 10px;
            width: 100%;
        }
.mail-option .chk-all, .mail-option .btn-group {
            margin-right: 5px;
        }
.mail-option .chk-all, .mail-option .btn-group a.btn {
            background: none repeat scroll 0 0 #fcfcfc;
            border: 1px solid #e7e7e7;
            border-radius: 3px !important;
            color: #afafaf;
            display: inline-block;
            padding: 5px 10px;
        }
.inbox-pagination a.np-btn {
            background: none repeat scroll 0 0 #fcfcfc;
            border: 1px solid #e7e7e7;
            border-radius: 3px !important;
            color: #afafaf;
            display: inline-block;
            padding: 5px 15px;
        }
.mail-option .chk-all input[type="checkbox"] {
            margin-top: 0;
        }
.mail-option .btn-group a.all {
            border: medium none;
            padding: 0;
        }
        .inbox-pagination a.np-btn {
            margin-left: 5px;
        }
        .inbox-pagination li span {
            display: inline-block;
            margin-right: 5px;
            margin-top: 7px;
        }
        .fileinput-button {
            background: none repeat scroll 0 0 #eeeeee;
            border: 1px solid #e6e6e6;
        }
        .inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
            border: 1px solid #e6e6e6;
            box-shadow: none;
        }
        .btn-send, .btn-send:hover {
            background: none repeat scroll 0 0 #00a8b3;
            color: #fff;
        }
        .btn-send:hover {
            background: none repeat scroll 0 0 #009da7;
        }
        .modal-header h4.modal-title {
            font-family: "Open Sans",sans-serif;
            font-weight: 300;
        }
        .modal-body label {
            font-family: "Open Sans",sans-serif;
            font-weight: 400;
        }
        .heading-inbox h4 {
            border-bottom: 1px solid #ddd;
            color: #444;
            font-size: 18px;
            margin-top: 20px;
            padding-bottom: 10px;
        }
.sender-info {
            margin-bottom: 20px;
        }
.sender-info img {
            height: 30px;
            width: 30px;
        }
.sender-dropdown {
            background: none repeat scroll 0 0 #eaeaea;
            color: #777;
            font-size: 10px;
            padding: 0 3px;
        }
.view-mail a {
            color: #ff6c60;
        }
.attachment-mail {
            margin-top: 30px;
        }
.attachment-mail ul {
            display: inline-block;
            margin-bottom: 30px;
            width: 100%;
        }
.attachment-mail ul li {
            float: left;
            margin-bottom: 10px;
            margin-right: 10px;
            width: 150px;
        }
.attachment-mail ul li img {
            width: 100%;
        }
.attachment-mail ul li span {
            float: right;
        }
.attachment-mail .file-name {
            float: left;
        }
.attachment-mail .links {
            display: inline-block;
            width: 100%;
        }

.fileinput-button {
            float: left;
            margin-right: 4px;
            overflow: hidden;
            position: relative;
        }
.fileinput-button input {
            cursor: pointer;
            direction: ltr;
            font-size: 23px;
            margin: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-300px, 0px) scale(4);
        }
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
        }
.files .progress {
            width: 200px;
        }
.fileupload-processing .fileupload-loading {
            display: block;
        }
* html .fileinput-button {
            line-height: 24px;
            margin: 1px -3px 0 0;
        }
* + html .fileinput-button {
            margin: 1px 0 0;
            padding: 2px 15px;
        }
@media (max-width: 767px) {
        .files .btn span {
            display: none;
        }
.files .preview * {
            width: 40px;
        }
.files .name * {
            display: inline-block;
            width: 80px;
            word-wrap: break-word;
        }
.files .progress {
            width: 20px;
        }
.files .delete {
            width: 60px;
        }
        }

/*chat csss*/
.chat_window {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}
.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}
.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 580px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
  padding: 20px 0 0 10px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
  padding: 20px 0 0 10px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: 60%;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 14px;
  font-weight: 300;
}
.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 75px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 70px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}
.message_template {
  display: none;
}


/*결재문서*/
.document_form {
  color: #666;
  background: #fff;
  font-family: '맑은 고딕',Malgun Gothic,'돋움',dotum,AppleGothic,sans-serif;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.document_form div:first-child {
  padding: 22px 20px;
  background: #535353;
}
.document_form table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: separate;
}
.document_form table .head {
  background: #f5f4d8;
  text-align: center;
}
.document_form table tr td {
  padding: 5px 12px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.document_form table span {
  text-align: center;
  color: #41cac0;
  display: block;
}
.document_form table .title {
  width: 100%;
  border: none;
}
.document_form table textarea {
  width: 100%;
  height: 500px;
  resize: none;
  margin: 7px 0;
  border: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.document_form .register {
  text-align: center;
}
.document_form .register .button {
  margin: 15px;
  width: 70px;
  height: 50px;
}

/*공지사항 게시판*/
.notice {
  width: 755px;
  float: left;
}
.notice .buttons {
  border-radius: 4px;
  width: 110px;
  height: 40px;
  background: #00a6b2;
  color: white;
  border: none;
  margin: 0; padding: 0;
  float: right;
  font-size: 18px;
}
.notice .delete {
  margin-left:5px;
}
.notice .inbox-body tr td:first-child {
  text-align: center;
}
.notice .inbox-body tr td:last-child {
  text-align: center;
}
.notice .page {
  font-size: 18px;
}
.notice .page ol {
  width: 160px;
  margin: 10px auto;
}
.notice .page ol li {
  float: left;
  margin: 0 5px;
}
.notice .page a:link, a:visited, a:hover, a:active {
  color: #fff;
}

/*공지사항 게시판 글쓰기*/
.notice table .head {
  background: #eee;
  text-align: center;
}

/*공지사항 게시판 글보기*/
.notice table .text_contents {
  width: 100%;
  height: 500px;
  margin: 7px 0;
  border: none;
  overflow-x: hidden;
  overflow-y: scroll;
  vertical-align: top;
}

/*회의실 채팅창*/
.meeting {
  height: 750px;
}
